<po-page-list p-title="Cadastro de profissionais" [p-actions]="actions" [p-filter]='filterSettings'>
	<po-list-view p-property-title="nome" [p-actions]="actionsLista" [p-items]="profissionais">
        <ng-template p-list-view-content-template let-item>
            <div class="po-row">
				<po-info class="po-md-6" p-label="CRM/CRP" [p-value]="item.numero"></po-info>
				<po-info class="po-md-6" p-label="Medico" [p-value]="item.categoria_profissional_id"></po-info>
			</div>
		</ng-template>
		
		<ng-template p-list-view-detail-template let-item>
			<div class="po-row">
				<po-info class="po-md-6" p-label="Endereço" [p-value]="item.address"></po-info>
				<po-info class="po-md-6" p-label="Numero" [p-value]="item.addressNumber"></po-info>
			</div>
		  </ng-template>

	</po-list-view>
</po-page-list>

<!-- Abre modal de cadastro de profissional -->
<app-modal-profissional> </app-modal-profissional>