<po-page-list 
            p-title="Exames Pendentens" 
            [p-actions]="actions" 
            [p-breadcrumb]="breadcrumb"
            [p-disclaimer-group]="disclaimerGroup" 
            [p-filter]="filterSettings">

    <po-table 
            p-checkbox 
            p-single-select="true"
            p-sort="true" 
            p-striped="true" 
            [p-columns]="hiringProcessesColumns"
            [p-items]="hiringProcesses"
            (p-selected)="linhaSelecionada($event)">
    </po-table>
</po-page-list>


<po-modal
  p-title="Options"
  [p-primary-action]="confirm"
  [p-secondary-action]="close">

    <po-input
        name="input"
        p-label="Nome">
    </po-input>

    <po-input
        name="input"
        p-label="Cpf">
    </po-input>

    <po-select
        p-label="CNH"
        name="CNH">
    </po-select>

    <po-select
            p-label="Habilitacao Pretendida"
            name="">
    </po-select>
 
    <po-datepicker
                name="datepicker"
                p-label="Data Avaliacao">
    </po-datepicker>

    <po-select
            p-label="Habilitacao Pretendida"
            name="">
    </po-select>

    <po-switch
            (p-change)="selecionaMedico()"
            p-disabled="boolean"
            p-label="Exame Medico"
            p-label-off="Nao"
            p-label-on="Exame medico selecionado"
            p-label-position="PoSwitchLabelPosition"
            name="exameMedico"
            p-value>
    </po-switch>

{{exameMedico}} jeffe
    <po-select
            [p-disabled]='exameMedico'
            p-label="Habilitacao Pretendida"
            name="">
    </po-select>

    <po-switch
            (p-change)="EventEmitter"
            p-disabled="boolean"
            p-label="Exame Psicotecnico"
            p-label-off="Nao"
            p-label-on="Exame Psicotecnico selecionado"
            p-label-position="PoSwitchLabelPosition"
            name="Exame Psicotecnico" >
    </po-switch>

    <po-select
            p-label="Psicotecnico"
            name="">
    </po-select>

  <!--form #optionsForm="ngForm">
    <div class="po-row">
      <po-checkbox-group
        class="po-md-12"
        name="checkboxGroup"
        [(ngModel)]="fruits"
        p-label="Fruits:"
        p-required
        [p-options]="fruitsOptions">
      </po-checkbox-group>
    </div>

     <po-checkbox-group
                class="po-md-12"
                name="checkboxGroup"
                p-label="Fruits:"
                p-required
                [p-options]="fruitsOptions">
</po-checkbox-group>

    <div class="po-row">
      <po-combo
        class="po-md-12"
        name="accompaniment"
        [(ngModel)]="accompaniment"
        p-label="Accompaniment:"
        p-required
        [p-options]="accompanimentOptions">
      </po-combo>
    </div>

    <div class="po-row">
      <po-textarea
        class="po-md-12"
        name="orderDetail"
        [(ngModel)]="orderDetail"
        p-label="Details:"
        p-rows="8">
      </po-textarea>
    </div>
  </form-->

</po-modal>



<!--po-list-view p-property-title="nome" [p-actions]="actions" [p-items]="items">

        <ng-template p-list-view-content-template let-item>
            <div class="po-row">
                <po-info class="po-md-6" p-label="Tipo Exame" [p-value]="item.tipo_exame"></po-info>
            </div>
            <div class="po-row">
                <po-info class="po-md-6" p-label="RESULTADO AVALIAÇÃO" [p-value]="item.status.descricao"></po-info>
            </div>
        </ng-template>
    </po-list-view-->