<po-modal  p-title="Atualizar exames" [p-primary-action]="confirm" [p-secondary-action]="close">
    <po-select p-label="Status" 
                p-placeholder="Selecione novo status" 
                [p-options]="examesResultado"
                [(ngModel)]="exames.id_status"
                (p-change)="habilitaRestricao()"
                name="id_status">
    </po-select>

    <po-textarea name="restricao"
                 [p-disabled]='exames.restricaoTrue'
                 p-label="Observaçoes"
                 [(ngModel)]="exames.restricao">
    </po-textarea>
</po-modal>